@model List<Seminovos.Models.CadastroModelo>
@{
    ViewBag.Title = "Cadastro Modelos Veículos";
}
<style>
    #grid-cadastro> thead > tr th:nth-child(2){
        width: 210px;
    }

    #grid-cadastro > thead > tr th:nth-child(3){
        width: 110px;
    }

    #cadastro{
        width: 80%;
        margin: 0 auto;
    }

    #cadastro_cabecalho{
        border-bottom: 1px #dddddd solid;
    }

    #cadastro_conteudo{
        margin-top: 20px;
    }

    #cabecalho_grid{
        margin-bottom: 20px;
    }
</style>
<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>
    <section id="cadastro_conteudo">
                   <div id="cabecalho_grid" class="row">
                        <div class="col-md-12">
                            <a id="btn_incluir" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"></i>Incluir</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table id="grid-cadastro" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descrição Modelo</th>
                                        <th>Ano Modelo</th>
                                        <th>Ano Fabricação</th>
                                        <th>Cor</th>
                                        <th>Situação</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Codigo</td>
                                            <td>@item.DescricaoModelo</td>
                                            <td>@item.AnoModelo</td>
                                            <td>@item.AnoFabricacao</td>
                                            <td>@item.CorModelo</td>
                                            <td>@{var situacaomodelo = (item.SituacaoModelo ? "Sim" : "Não");}@situacaomodelo</td>
                                            <td>
                                                <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i> Alterar </a>
                                                <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i> Excluir </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
    </section>
</div>


